In [3]:
import pandas as pd
import tensorflow as tf
import numpy as np

In [4]:
df = pd.read_csv("Dataset/dataset_fix.csv")
df

       Kalimat #      Word     Tag
0              0      tiap       O
1              0     makan       O
2              0    kesini       O
3              0      ngga       O
4              0    pernah       O
...          ...       ...     ...
50531        859  portions  I-FOOD
50532        859       way  I-FOOD
50533        859       too  I-FOOD
50534        859     small  I-FOOD
50535        859         p       O

[50536 rows x 3 columns]

In [26]:
train_data = df[df["Kalimat #"] <= 700]

val_data = train_data[train_data["Kalimat #"] > 600]
train_data = train_data[train_data["Kalimat #"] <= 600]

test_data = df[df["Kalimat #"] > 700]
test_data = test_data.drop(columns='Tag')

In [27]:
train_data

       Kalimat #     Word              Tag
0              0     tiap                O
1              0    makan                O
2              0   kesini                O
3              0     ngga                O
4              0   pernah                O
...          ...      ...              ...
36273        600     good  I-MISCELLANEOUS
36274        600    talks  I-MISCELLANEOUS
36275        600     with                O
36276        600     your                O
36277        600  friends                O

[36278 rows x 3 columns]

In [28]:
val_data

       Kalimat #       Word Tag
36278        601       went   O
36279        601         to   O
36280        601       here   O
36281        601          a   O
36282        601       week   O
...          ...        ...  ..
41505        700  sebanding   O
41506        700     dengan   O
41507        700      harga   O
41508        700       yang   O
41509        700    dibayar   O

[5232 rows x 3 columns]

In [29]:
test_data

       Kalimat #      Word
41510        701     sukha
41511        701   delight
41512        701    mereka
41513        701      well
41514        701     known
...          ...       ...
50531        859  portions
50532        859       way
50533        859       too
50534        859     small
50535        859         p

[9026 rows x 2 columns]