In [9]:
import pandas as pd
from nltk.tokenize import word_tokenize
import string

In [10]:
df = pd.read_csv("new_reviews.csv", names=["Review"])
len(df)

4798

### Data Cleansing - Drop NaN value

In [11]:
df = df.dropna()
df = df.reset_index(drop=True)
len(df)

4159

In [12]:
df = df.drop_duplicates()
df = df.reset_index(drop=True)
len(df)

864

### Data Cleansing - Preprocessing

In [13]:
import re
import demoji
demoji.download_codes()

# def deEmojify(text):
#     regrex_pattern = re.compile(pattern = "["
#         u"\U0001F600-\U0001F64F"  # emoticons
#         u"\U0001F300-\U0001F5FF"  # symbols & pictographs
#         u"\U0001F680-\U0001F6FF"  # transport & map symbols
#         u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
#                            "]+", flags = re.UNICODE)
#     return regrex_pattern.sub(r'',text)

Downloading emoji data ...
... OK (Got response in 0.74 seconds)
Writing emoji data to C:\Users\rachm\.demoji\codes.json ...
... OK

In [15]:
for sentence in (df["Review"][:2]):
    print("Before:", sentence)
#     sentence = sentence.translate(str.maketrans("","", string.punctuation))
#     print()
#     print("Hapus simbol:", sentence)
#     deEmo = deEmojify(sentence)
#     print("Using Regex:", deEmo)
    sentence = demoji.replace(sentence)
    print()
    print("Hapus Emoji:", sentence)
    sentence = sentence.split()
    print()
    print("Tokenize:", sentence)
    print()

Before: Tiap makan kesini ngga pernah cuma 1 atau 2 porsi, pasti nambah terus, karena emang pas banget rasanya di lidah. Black peppernya yang paling enak disini.  Emang selalu waiting list, cuma sei sapi lamalera absolutely worth to wait! Recommended!

Hapus Emoji: Tiap makan kesini ngga pernah cuma 1 atau 2 porsi, pasti nambah terus, karena emang pas banget rasanya di lidah. Black peppernya yang paling enak disini.  Emang selalu waiting list, cuma sei sapi lamalera absolutely worth to wait! Recommended!

Tokenize: ['Tiap', 'makan', 'kesini', 'ngga', 'pernah', 'cuma', '1', 'atau', '2', 'porsi,', 'pasti', 'nambah', 'terus,', 'karena', 'emang', 'pas', 'banget', 'rasanya', 'di', 'lidah.', 'Black', 'peppernya', 'yang', 'paling', 'enak', 'disini.', 'Emang', 'selalu', 'waiting', 'list,', 'cuma', 'sei', 'sapi', 'lamalera', 'absolutely', 'worth', 'to', 'wait!', 'Recommended!']

Before: Seâ€™i sapi sambel Luâ€™at nya dabest!   Pertama kesini pas jam 8 malam tp udh close order dan cuma bisa take away karna udh terlalu ramai mungkin ya, tapi ga asik ya kalo kali pertama nyobain Seâ€™i tapi dibungkus ðŸ˜‚   Jadi kita mutusin untuk dateng lg besok paginya dan kita pesan ini: âœ¨ Seâ€™i sapi sambel Luâ€™at  âœ¨ Seâ€™i sapi sambel Matah âœ¨ Seâ€™i sapi sambel Ijo âœ¨ Seâ€™i sapi sambel Andaliman âœ¨ Seâ€™i sapi Rica-Rica  Untuk semua daging rasanya sama, hanya sambel nya aja yg ngebedain. Dari semua sambel, aku paling suka sambel Luâ€™at ðŸ¥º rasa sambelnya seru gtu seger dan mungkin karna ada perasan jeruk nipis nya(?) Untuk pelayanannya cukup cepat dan ambiance nya jg oke.  Kalau mau kesini hindari jam makan siang ya, waiting listnya ganahan hehe. Tp kalau km termasuk org yang sabar, km bisa makan Cilor goreng yg dijual percis didepan kedai sambil nunggu antrian. Selamat mencoba! ðŸ˜‰

Hapus Emoji: Seâ€™i sapi sambel Luâ€™at nya dabest!   Pertama kesini pas jam 8 malam tp udh close order dan cuma bisa take away karna udh terlalu ramai mungkin ya, tapi ga asik ya kalo kali pertama nyobain Seâ€™i tapi dibungkus    Jadi kita mutusin untuk dateng lg besok paginya dan kita pesan ini:  Seâ€™i sapi sambel Luâ€™at   Seâ€™i sapi sambel Matah  Seâ€™i sapi sambel Ijo  Seâ€™i sapi sambel Andaliman  Seâ€™i sapi Rica-Rica  Untuk semua daging rasanya sama, hanya sambel nya aja yg ngebedain. Dari semua sambel, aku paling suka sambel Luâ€™at  rasa sambelnya seru gtu seger dan mungkin karna ada perasan jeruk nipis nya(?) Untuk pelayanannya cukup cepat dan ambiance nya jg oke.  Kalau mau kesini hindari jam makan siang ya, waiting listnya ganahan hehe. Tp kalau km termasuk org yang sabar, km bisa makan Cilor goreng yg dijual percis didepan kedai sambil nunggu antrian. Selamat mencoba!

Tokenize: ['Seâ€™i', 'sapi', 'sambel', 'Luâ€™at', 'nya', 'dabest!', 'Pertama', 'kesini', 'pas', 'jam', '8', 'malam', 'tp', 'udh', 'close', 'order', 'dan', 'cuma', 'bisa', 'take', 'away', 'karna', 'udh', 'terlalu', 'ramai', 'mungkin', 'ya,', 'tapi', 'ga', 'asik', 'ya', 'kalo', 'kali', 'pertama', 'nyobain', 'Seâ€™i', 'tapi', 'dibungkus', 'Jadi', 'kita', 'mutusin', 'untuk', 'dateng', 'lg', 'besok', 'paginya', 'dan', 'kita', 'pesan', 'ini:', 'Seâ€™i', 'sapi', 'sambel', 'Luâ€™at', 'Seâ€™i', 'sapi', 'sambel', 'Matah', 'Seâ€™i', 'sapi', 'sambel', 'Ijo', 'Seâ€™i', 'sapi', 'sambel', 'Andaliman', 'Seâ€™i', 'sapi', 'Rica-Rica', 'Untuk', 'semua', 'daging', 'rasanya', 'sama,', 'hanya', 'sambel', 'nya', 'aja', 'yg', 'ngebedain.', 'Dari', 'semua', 'sambel,', 'aku', 'paling', 'suka', 'sambel', 'Luâ€™at', 'rasa', 'sambelnya', 'seru', 'gtu', 'seger', 'dan', 'mungkin', 'karna', 'ada', 'perasan', 'jeruk', 'nipis', 'nya(?)', 'Untuk', 'pelayanannya', 'cukup', 'cepat', 'dan', 'ambiance', 'nya', 'jg', 'oke.', 'Kalau', 'mau', 'kesini', 'hindari', 'jam', 'makan', 'siang', 'ya,', 'waiting', 'listnya', 'ganahan', 'hehe.', 'Tp', 'kalau', 'km', 'termasuk', 'org', 'yang', 'sabar,', 'km', 'bisa', 'makan', 'Cilor', 'goreng', 'yg', 'dijual', 'percis', 'didepan', 'kedai', 'sambil', 'nunggu', 'antrian.', 'Selamat', 'mencoba!']

## Tokenized

In [16]:
import time
from tqdm import tqdm

df_hasil = pd.DataFrame(columns=['Kalimat #', 'Word'])
kalimat = 1

for sentence in (tqdm(df["Review"], desc="Loading...")):
    # print("Kalimat", kalimat)
    # sentence = sentence.translate(str.maketrans("","", string.punctuation))
    sentence = demoji.replace(sentence.lower())
    s_token = sentence.split()
    s_token = [[kalimat, w] for w in s_token]
    # print(s_token)
    df_temp = pd.concat([pd.DataFrame([i], columns=['Kalimat #', 'Word']) for i in s_token], ignore_index=True)
    df_hasil = df_hasil.append(df_temp, ignore_index=True)
    kalimat = kalimat + 1
    pass

Loading...: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 864/864 [00:29<00:00, 29.40it/s]

In [17]:
df_hasil

      Kalimat #    Word
0             1    tiap
1             1   makan
2             1  kesini
3             1    ngga
4             1  pernah
...         ...     ...
51275       864    even
51276       864    they
51277       864    left
51278       864     the
51279       864    room

[51280 rows x 2 columns]

In [18]:
df_hasil.to_csv('reviews_tokenized.csv',index=False)

## Per Kalimat

In [19]:
import time
from tqdm import tqdm

preprocessed = []
for sentence in (tqdm(df["Review"], desc="Loading...")):
    # print("Kalimat", kalimat)
    sentence = sentence.translate(str.maketrans("","", string.punctuation))
    sentence = demoji.replace(sentence.lower())
    preprocessed.append(sentence)
    pass

df_sentence = pd.DataFrame(preprocessed, columns=['text'])

Loading...: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 864/864 [00:01<00:00, 630.62it/s]

In [7]:
df_sentence

                                                   text
0     tiap makan kesini ngga pernah cuma 1 atau 2 po...
1     seâ€™i sapi sambel luâ€™at nya dabest   pertama ke...
2      makanan yang sebenarnya simple tapi enak banget
3     enak bgtttt sambel enak daging sho good gatau ...
4                      rasa sei nya blm ada yg ngalahin
...                                                 ...
4154  cozy place with poor service pelayan menginfor...
4155  instagramable place menurut gw hrga makanan  m...
4156            foto dan harga di aplikasi kurang jelas
4157  i like the ambience here and love the food and...
4158  may be better if the smokers places in the out...

[4159 rows x 1 columns]

In [8]:
df_sentence.to_csv('reviews_preprocessed.csv',index=False)

## Split Half

In [19]:
len(df_sentence)/2

2079.5

In [20]:
df_sentence.iloc[:len(df_sentence)//2]

                                                   text
0     tiap makan kesini ngga pernah cuma 1 atau 2 po...
1     seâ€™i sapi sambel luâ€™at nya dabest   pertama ke...
2      makanan yang sebenarnya simple tapi enak banget
3     enak bgtttt sambel enak daging sho good gatau ...
4                      rasa sei nya blm ada yg ngalahin
...                                                 ...
2074                                          imam amel
2075  dilayani oleh mas imam dan mas rudi pelayanan ...
2076           terimakasih imam  amel very good service
2077  makanan nya enak enak tempat nya bersih pelaya...
2078  pelayanannya ramaah banget enak semuaa   diban...

[2079 rows x 1 columns]

In [21]:
df_sentence.iloc[len(df_sentence)//2:]

                                                   text
2079  thanks for mas imam yang udah melayani dengan ...
2080  imam thanks for the good service my favorite f...
2081                                               imam
2082                              kukum haris dani meta
2083  pelayanannya baik ramah oke banget nih waitres...
...                                                 ...
4154  cozy place with poor service pelayan menginfor...
4155  instagramable place menurut gw hrga makanan  m...
4156            foto dan harga di aplikasi kurang jelas
4157  i like the ambience here and love the food and...
4158  may be better if the smokers places in the out...

[2080 rows x 1 columns]

In [23]:
df_sentence.iloc[:len(df_sentence)//2].to_csv('reviews_preprocessed_firsthalf.csv',index=False)
df_sentence.iloc[len(df_sentence)//2:].to_csv('reviews_preprocessed_secondhalf.csv',index=False)